services:
  httpeak:
    image: ghcr.io/dragsbruh/httpeak:latest
    restart: unless-stopped
    networks:
      - public

  silitime:
    image: ghcr.io/dragsbruh/silitime:latest
    restart: unless-stopped
    networks:
      - public

  watchtower:
    image: containrrr/watchtower:latest
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --cleanup --interval 300
