services:
  tunnel:
    image: cloudflare/cloudflared:latest
    restart: unless-stopped

    networks:
      - public

    environment:
      TUNNEL_TOKEN: ${TUNNEL_TOKEN}

    command: tunnel --no-autoupdate run
