services:
  forgejo:
    image: codeberg.org/forgejo/forgejo:13
    restart: unless-stopped
    environment:
      - USER_UID=1000
      - USER_GID=1000
      - FORGEJO__database__DB_TYPE=postgres
      - FORGEJO__database__HOST=postgres:5432
      - FORGEJO__database__NAME=forgejo
      - FORGEJO__database__USER=forgejo
      - FORGEJO__database__PASSWD=${FORGEJO_PASSWORD}

    networks:
      - public
      - service

    volumes:
      - /srv/volumes/forgejo/data:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro

    depends_on:
      - postgres

    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.forgejo.rule=Host(`git.hearth.land`)"
      - "traefik.http.services.forgejo.loadbalancer.server.port=3000"

      - "traefik.http.routers.forgejo-public.rule=Host(`git.hearth.is-a.dev`)"
      - "traefik.http.routers.forgejo-public.entryPoints=cloudflare"

  docker-in-docker:
    image: docker:dind
    restart: "unless-stopped"

    privileged: "true"
    command: ["dockerd", "-H", "tcp://0.0.0.0:2375", "--tls=false"]

    volumes:
      - /etc/ssl/certs/ca-bundle.crt:/etc/pki/tls/certs/ca-bundle.crt:ro
      - /etc/ssl/certs/ca-certificates.crt:/etc/ssl/certs/ca-certificates.crt:ro
      - /usr/local/share/ca-certificates/hearth.crt:/usr/local/share/ca-certificates/hearth.crt:ro

      - /srv/volumes/forgejo/runner/dind:/var/lib/docker

    networks:
      - service

  forgejo-runner:
    image: data.forgejo.org/forgejo/runner:11
    restart: unless-stopped
    user: 1001:1001

    depends_on:
      docker-in-docker:
        condition: service_started

    volumes:
      - /etc/ssl/certs/ca-certificates.crt:/etc/ssl/certs/ca-certificates.crt:ro
      - /usr/local/share/ca-certificates/hearth.crt:/usr/local/share/ca-certificates/hearth.crt:ro

      - /srv/volumes/forgejo/runner/data:/data

    environment:
      DOCKER_HOST: tcp://docker-in-docker:2375

    networks:
      - service

    command: bash -c 'sleep 1; forgejo-runner daemon -c config.yml'

  wakapi:
    image: ghcr.io/muety/wakapi:2.16.1
    restart: unless-stopped
    init: true
    environment:
      TZ: Asia/Kolkata
      ENVIRONMENT: prod
      WAKAPI_LEADERBOARD_ENABLED: true
      WAKAPI_PUBLIC_URL: https://waka.hearth.is-a.dev
      WAKAPI_ALLOW_SIGNUP: false
      WAKAPI_DISABLE_FRONTPAGE: true
      WAKAPI_EXPOSE_METRICS: true
      WAKAPI_DB_TYPE: postgres
      WAKAPI_DB_NAME: wakapi
      WAKAPI_DB_USER: wakapi
      WAKAPI_DB_HOST: postgres
      WAKAPI_DB_PORT: 5432

      WAKAPI_DB_PASSWORD: ${WAKAPI_PASSWORD}
      WAKAPI_PASSWORD_SALT: ${WAKAPI_PASSWORD_SALT}

    networks:
      - service
      - public

    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.wakapi.rule=Host(`waka.hearth.land`)"
      - "traefik.http.services.wakapi.loadbalancer.server.port=3000"

      - "traefik.http.routers.wakapi-public.rule=Host(`waka.hearth.is-a.dev`)"
      - "traefik.http.routers.wakapi-public.entryPoints=cloudflare"
