services:
  chisel:
    image: jpillora/chisel:latest
    restart: unless-stopped
    command: server --authfile /cfg/users.json
    volumes:
      - ./chisel:/cfg
    networks:
      - public

  forgejo:
    image: data.forgejo.org/forgejo/forgejo:13
    restart: unless-stopped

    environment:
      - FORGEJO__database__DB_TYPE=postgres
      - FORGEJO__database__HOST=postgres:5432
      - FORGEJO__database__NAME=forgejo
      - FORGEJO__database__USER=forgejo
      - FORGEJO__database__PASSWD=forgejo

    networks:
      - public
      - service

    volumes:
      - /srv/docker/volumes/forgejo/data:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro

    depends_on:
      - postgres

  # docker-in-docker:
  #   image: docker:dind
  #   restart: "unless-stopped"
  #   privileged: "true"
  #   command: ["dockerd", "-H", "tcp://0.0.0.0:2375", "--tls=false"]
  #   networks:
  #     - service

  # forgejo-runner:
  #   image: "data.forgejo.org/forgejo/runner:11"
  #   restart: "unless-stopped"

  #   links:
  #     - docker-in-docker

  #   depends_on:
  #     docker-in-docker:
  #       condition: service_started
  #     forgejo:
  #       condition: service_started

  #   environment:
  #     DOCKER_HOST: tcp://docker-in-docker:2375

  #   user: 1001:1001

  #   volumes:
  #     - /srv/docker/volumes/forgejo/runner/data:/data

  #   networks:
  #     - service

  #   command: '/bin/sh -c "sleep 5; forgejo-runner daemon"'
