services:
  traefik:
    image: traefik:latest
    restart: unless-stopped

    ports:
      - 80:80
      - 443:443
      - 8080:8080

    volumes:
      - ./traefik:/etc/traefik
      - /srv/volumes/traefik/acme:/etc/acme
      - /srv/volumes/step/certs/root_ca.crt:/usr/local/share/ca-certificates/step_root.crt
      - /var/run/docker.sock:/var/run/docker.sock

    environment:
      LEGO_CA_CERTIFICATES: "/usr/local/share/ca-certificates/step_root.crt"
      LEGO_CA_SERVER_NAME: "step-ca"

    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.api.rule=Host(`traefik.hearth.land`)"
      - "traefik.http.routers.api.service=api@internal"

      - "traefik.http.routers.api-public.rule=Host(`traefik.hearth.is-a.dev`)"
      - "traefik.http.routers.api-public.entryPoints=cloudflare"
      - "traefik.http.routers.api-public.service=api@internal"

    networks:
      - public
      - service
      - cloudflare

  whoami:
    image: traefik/whoami:latest
    restart: unless-stopped

    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.whoami.rule=Host(`whoami.hearth.land`)"

      - "traefik.http.routers.whoami-public.rule=Host(`whoami.hearth.is-a.dev`)"
      - "traefik.http.routers.whoami-public.entryPoints=cloudflare"
    networks:
      - public

  step-ca:
    image: smallstep/step-ca:latest
    restart: unless-stopped

    networks:
      - public

    ports:
      - 9000:443

    volumes:
      - /srv/volumes/step:/home/step/

  coredns:
    image: coredns/coredns:latest
    restart: unless-stopped

    networks:
      - public

    ports:
      - 53:53/tcp
      - 53:53/udp

    volumes:
      - ./Corefile:/etc/coredns/Corefile

    command: -conf /etc/coredns/Corefile

  tunnel:
    image: cloudflare/cloudflared:latest
    restart: unless-stopped

    networks:
      - cloudflare

    environment:
      - TUNNEL_TOKEN=${TUNNEL_TOKEN}

    command: tunnel --no-autoupdate run

  chisel:
    image: jpillora/chisel:latest
    restart: unless-stopped

    networks:
      - public

    volumes:
      - ./chisel.json:/users.json

    command: server --authfile /users.json --port 80

    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.chisel.rule=Host(`tcp.hearth.land`)"
      - "traefik.http.services.chisel.loadbalancer.server.port=80"

      - "traefik.http.routers.chisel-public.rule=Host(`tcp.hearth.is-a.dev`)"
      - "traefik.http.routers.chisel-public.entryPoints=cloudflare"
