services:
  shoko:
    image: ghcr.io/shokoanime/server:daily
    restart: unless-stopped

    shm_size: 256m

    environment:
      - "PUID=1000"
      - "PGID=1000"
      - "TZ=Asia/Kolkata"

    volumes:
      - "/srv/docker/volumes/shoko:/home/shoko/.shoko"
      - "/srv/media/anime/:/mnt/anime"
      - "/srv/media/anime-movies/:/mnt/movies"

    networks:
      - public

  jellyfin:
    image: jellyfin/jellyfin:latest
    restart: unless-stopped

    volumes:
      - /srv/docker/volumes/jellyfin/config:/config:rw
      - /srv/docker/volumes/jellyfin/cache:/cache:rw

      - /srv/media:/media:ro
      - /srv/media/anime:/mnt/anime
      - /srv/media/anime-movies:/mnt/movies

      - /usr/share/fonts:/usr/local/share/fonts/custom:ro

    devices:
      - /dev/dri/renderD128:/dev/dri/renderD128

    networks:
      - public
