{
    auto_https disable_redirects
    local_certs

    http_port 80
    https_port 443

	log {
		output file /var/log/caddy/server.log
		format json
	}

    servers {
        trusted_proxies static private_ranges
        client_ip_headers Cf-Connecting-Ip
    }
}

(common) {
    # tailscale handles tls apparently, so cool
    # tls /etc/ssl/hoshino/fullchain.pem /etc/ssl/hoshino/privkey.pem

	log {
		output file /var/log/caddy/access.log
		format json
	}

	header {
		X-Frame-Options "SAMEORIGIN"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "no-referrer"
		Strict-Transport-Security "max-age=31536000"
	}
}

# ------------

http://api.hearth.is-a.dev {
    import common
    reverse_proxy 100.64.10.10:80
}

http://hearth.is-a.dev, https://hoshino.ai {
    import common

    handle_path /silitime {
        reverse_proxy silitime:8080
    }

    root * /srv/lander
	file_server
}

http://debug.hearth.is-a.dev, https://debug.hoshino.ai {
    import common
    reverse_proxy httpeak:80
}

http://git.hearth.is-a.dev, https://git.hoshino.ai {
    import common
    reverse_proxy forgejo:3000
}

http://tcp.hearth.is-a.dev, https://tcp.hoshino.ai {
    import common
    reverse_proxy chisel:8080
}

http://tv.hearth.is-a.dev, https://tv.hoshino.ai {
    import common
    reverse_proxy jellyfin:8096
}

http://shoko.tv.hearth.is-a.dev, https://shoko.tv.hoshino.ai {
    import common
    reverse_proxy shoko:8111
}

http://files.hearth.is-a.dev, https://files.hoshino.ai {
    import common
    reverse_proxy host.docker.internal:3939
}

:80, :443 {
    respond "not found :("
}

# ------------

http://ocaml.hearth.is-a.dev, https://ocaml.hoshino.ai {
    import common

    root * /srv/http/ocaml-manual
	file_server
}

http://elixir.hearth.is-a.dev, https://elixir.hoshino.ai {
    import common

    root * /srv/http/elixir
    file_server
}

http://phoenix.hearth.is-a.dev, https://phoenix.hoshino.ai {
    import common

    root * /srv/http/phoenix
    file_server
}

http://zig.hearth.is-a.dev, https://zig.hoshino.ai {
    import common

    root * /srv/http/zig
    file_server
}

http://rwh.hearth.is-a.dev, https://rwh.hoshino.ai {
    import common

    root * /srv/http/realworldhaskell
    file_server
}

http://cs3110.hearth.is-a.dev, https://cs3110.hoshino.ai {
    import common

    root * /srv/http/cs3110
    file_server
}

http://books.hearth.is-a.dev, https://books.hoshino.ai {
    import common

    root * /srv/http/books
    file_server browse
}
