services:
  silitime:
    image: ghcr.io/dragsbruh/silitime:latest
    restart: unless-stopped

    networks:
      - public

    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.silitime.rule=Host(`silitime.hearth.land`)"
      - "traefik.http.services.silitime.loadbalancer.server.port=8080"

      - "traefik.http.routers.silitime-public.rule=Host(`silitime.hearth.is-a.dev`)"
      - "traefik.http.routers.silitime-public.entryPoints=cloudflare"

  landing:
    image: busybox:latest
    restart: unless-stopped
    volumes:
      - /srv/config/static/@:/srv/http:ro
    networks:
      - public
    command: ["httpd", "-f", "-p", "80", "-h", "/srv/http/"]
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.static-hearth.rule=Host(`hearth.land`)"
      - "traefik.http.services.static-hearth.loadbalancer.server.port=80"
      - "traefik.http.routers.static-hearth-public.rule=Host(`hearth.is-a.dev`)"
      - "traefik.http.routers.static-hearth-public.entryPoints=cloudflare"
